.Neo4jConfiguration {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.Neo4jConfig_Value {
    text-align: left;
}

.Neo4jConfig_Description {
    text-overflow: overflow-wrap;
}