body, #root {
  height: 100%;
  background-color: #182026;
}

.App {
  text-align: center;
  height: 100%;
}

.MainBodyError {
  padding-top: 50px;
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.ui.fluid.vertical.tabular.menu {
  padding-left: 2px;
  padding-right: 12px;
  height: 100%;
}

.ui.fluid.vertical.tabular.menu > a.active.item {
  background-color: #40444a;
  border: 0px;
}

.ui.fluid.vertical.tabular.menu > a.active.item, a.item {
  height: 60px;
}

body > * > .ui.bottom.attached.active.tab {
  background-color: #30333a;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  padding-top: 5px;
  /* background-color: #222; */
  /* height: 70px; */
  /* padding: 20px; */
  /* color: white; */
}

.App-title {
  font-size: 1.3em;
}

.App-intro {
  font-size: large;
}

div.ui.grid {
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
