.App {
  text-align: center;
}

.MainBody {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.PaneWrapper {
  padding-top: 15px;
  border-left: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
  border-bottom: 1px solid #d4d4d5;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  padding-top: 5px;
  /* background-color: #222; */
  /* height: 70px; */
  /* padding: 20px; */
  /* color: white; */
}

.App-title {
  font-size: 1.3em;
}

.App-intro {
  font-size: large;
}

div.ui.grid {
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
