.ui.HalinCard.fluid.card {
    border: 1px solid grey;
    min-width: 350px;
    max-width: 440px;
    margin-left: 10px;
    margin-right: 10px;
}

button.ui.tiny.button {
    padding-left: 10px;
    padding-right: 10px;
}
    
.ui.HalinCard.fluid.card > * > div.ui.grid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}