.MembersPane {
    background-color: #182026;
}
.MembersPane > .ui.grid {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.MembersPane > .ui.grid > .two.wide.column > .ui.fluid.vertical.tabular.menu {
    padding-right: 0px;
    padding-left: 0px;
}

.MembersPane > div > .ui.grid {
    margin: 0px;
    padding: 0px;
}

.MembersPane > div.ui.grid {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}

.MembersPane > .ui.grid > .four.wide.column {
    max-width: 250px;
    margin-top: -13px;
    padding-top: 0px;    
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.MembersPane > .ui.grid > .four.wide.column > .ui.fluid.vertical.secondary.tabular.menu {
    padding-left: 0px;
    padding-right: 0px;
    width: 200px !important;
}

.MembersPane > .ui.grid > .four.wide.column > .ui.fluid.vertical.tabular.menu > a.item {
    color: #f5f8fa;
}

.MembersPane > .ui.grid > .four.wide.column > .ui.fluid.vertical.tabular.menu > a.item > * > span {
    color: #f5f8fa;
}

.MembersPane > .ui.grid > .stretched.ten.wide.column {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 79% !important;
}

.MembersPane > .ui.grid > .stretched.ten.wide.column > .ui.segment.active.tab {
    padding-left: 0px;
    padding-right: 0px;
}