div#root {
  height: 100%;
}

.Halin {
  text-align: center;
  width: 100%;
  display: inline;
  background-color: black;
}

/*
 * Wrapper that's placed around most main content panes
 */
div.ContentPaneComponent {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  height: 100%;
}

.MainBody {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.MainBodyError {
  padding-top: 50px;
  display: block;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.PaneWrapper {
  /* padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px; */
}

.PaneWrapper.primary {
  /* border-left: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
  border-bottom: 1px solid #d4d4d5; */
}

.Halin-logo {
  /* animation:.Halin-logo-spin infinite 20s linear; */
  /* height: 80px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Halin-header {
  padding-top: 5px;
  /* background-color: #222; */
  /* height: 70px; */
  /* padding: 20px; */
  /* color: white; */
}

.Halin-title {
  font-size: 1.3em;
}

.Halin-intro {
  font-size: large;
}

div.ui.grid {
  /* padding-left: 15px;
  padding-right: 15px; */
}

@keyframes.Halin-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
